@model  dynamic

@{
    ViewBag.Title = "Your Order";
    var x = Model.Count;
}


<h2>Your Order Details</h2><br>
<table class="table">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Book Author</th>
            <th>Book Category</th>
            <th>Book Price</th>
            <th>Order Time</th>
            <th>Total Quantity</th>

        </tr>
    </thead>
    <tbody>
        @for (int w = 0; w < x; w++)
        {
        <tr>
            <th>@ViewBag.Books[w].book_Name</th>
            <th>@ViewBag.Books[w].book_Author</th>
            <th>@ViewBag.Category[w]</th>
            <th>@Model[w].book_Price</th>
            <th>@Model[w].order_Time</th>
            <th>@Model[w].total_Quantity</th>
        </tr>
        }
    </tbody>
</table>
<br>
<br>
